@-webkit-keyframes bg-scrolling-reverse {
	100% {
		background-position: 50px 50px;
	}
}

@-moz-keyframes bg-scrolling-reverse {
	100% {
		background-position: 50px 50px;
	}
}

@-o-keyframes bg-scrolling-reverse {
	100% {
		background-position: 50px 50px;
	}
}

@keyframes bg-scrolling-reverse {
	100% {
		background-position: 50px 50px;
	}
}

@-webkit-keyframes bg-scrolling {
	0% {
		background-position: 50px 50px;
	}
}

@-moz-keyframes bg-scrolling {
	0% {
		background-position: 50px 50px;
	}
}

@-o-keyframes bg-scrolling {
	0% {
		background-position: 50px 50px;
	}
}

@keyframes bg-scrolling {
	0% {
		background-position: 50px 50px;
	}
}

@keyframes cursor-blink {
	to {
		visibility: hidden;
	}
}

/* Main styles */
body {
	/* img size is 50x50 */
	background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyBAMAAADsEZWCAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAVUExURWdnaAQEBBYWFwAAAGRkZBUVFRISE3xMYzIAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAoSURBVDjLY2BUwg4UGUxCsYMQhlQcMqGjMqMyozKjMkNCBkf5FhoCACEOnKmd1d8pAAAAAElFTkSuQmCC") repeat 0 0;
	color: #ffffff;
	font-family: monospace;
	display: flex;
	justify-content: left;
	font-size: 125%;
	user-select: none;
	text-transform: lowercase;
	/*-------------------*/
	/*  Animation Block  */
	/*-------------------*/
	-webkit-animation: bg-scrolling-reverse 0.92s infinite;
	/* Safari 4+ */
	-moz-animation: bg-scrolling-reverse 0.92s infinite;
	/* Fx 5+ */
	-o-animation: bg-scrolling-reverse 0.92s infinite;
	/* Opera 12+ */
	animation: bg-scrolling-reverse 0.92s infinite;
	/* IE 10+ */
	-webkit-animation-timing-function: linear;
	-moz-animation-timing-function: linear;
	-o-animation-timing-function: linear;
	animation-timing-function: linear;
	margin: 0;
}

.mainContainer {
	margin: 5em;
	position: relative;
	width: 100%;
}

.header {
	display: inline-flex;
	align-items: center;
}

.header h1 {
	font-size: 500%;
}

.header h1::after {
	content: "_";
	animation: cursor-blink 1.75s steps(2, start) infinite;
}

.description ul {
	position: relative;
	list-style: none;
}

.description li::marker {
	content: "> ";
}

.profileImage {
	border-radius: 50%;
	aspect-ratio: 1;
	width: 10em;
	margin-right: 2.5em;
}

.description {
	color: #9C9A9E;
	max-width: 30vw;
}

.description ul {
	columns: 2;
}

nav {
	position: absolute;
	bottom: 0;
	left: 0;
	border: 1px solid white;
	padding: 1em;
}

nav a {
	color: white;
	text-decoration: none;
}

.socials {
	position: absolute;
	right: 0;
	bottom: 0;
	display: inline-flex;
	gap: 5em;
}

.socials a {
	color: white;
	text-decoration: none;
}

.socials a:hover {
	color: #9C9A9E;
}

@media screen and (max-width: 800px) {
	body {
		font-size: 100%;
	}
	.header {
		display: flex;
		flex-direction: column;
	}
	.header h1 {
		margin-top: 0;
	}
	.profileImage {
		margin-right: 0;
	}
	.mainContainer {
		margin: 1em;
	}
	.description {
		max-width: 100%;
	}
}